<% if current_user %>
  <h1><%= link_to 'Create a new Game', new_game_path %><h1>
  <br />
  <% @games.each do |game| %>
    <h2><%= link_to game.name, game_path(game) %></h2>
  <% end %>
<% else %>
  <div class="jumbotron">
    <div class="container">
      <h1>Chess Roulette</h1>
      <h4>"Chess is a natural cerebral high. - Walter Browne"</h4>
      <p>
        Play with your friends. A game of strategic skill for two, 
        on a chequered board where pieces are moved according to 
        specific rules. The object is to put the opponent's king 
        under a direct attack from which escape is impossible (checkmate).<br>
      </p>
      <%= link_to '#', :data => {:toggle => 'modal', :target => '#signUpModal'}, :class => 'btn btn-primary btn-lg' do %>
        Play Chess &raquo;
      <% end %>
    </div>
    </div>
  </div>
<% end %>
  
<p>
<br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br />
</p>

