<div class="booyah-box">
  <h1>Enter an awesome name for new chess game!</h1>
    <%= simple_form_for @game do |f| %>
      <%= f.input :name %>
      <!-- <%= f.input :white_user_id, :as => :hidden, :input_html => { :value => current_user.id } %> -->
      <br />
      <%= f.submit 'Create'%>
    <% end %>
</div>