/* ------ Chess Board ----- */ 
#chess_board { 
  border:5px solid #000; 

}
#chess_board td {
	background:#fff;
	height:80px;
	text-align:center;
	vertical-align:middle;
	width:80px;
}

#chess_board tr:nth-child(odd) td:nth-child(even),
#chess_board tr:nth-child(even) td:nth-child(odd) {
	background:#000;
}
